<!DOCTYPE html>
<html>
<head>
    <title>View Expenses</title>

    <style>

.action{
    position:relative;
}


.menu{

    display:none;

    position:absolute;

    top:100%;

    right:0;

    background:white;

    border:1px solid black;

    z-index:1000;

}


table,
td{

    overflow:visible;

}
</style>
   
</head>

<body>

<h1>All Expenses</h1>


{% for date, data in grouped_expenses.items %}


<h2>
    Expenses for 
    {{ date|date:"j F Y" }}
    ({{ date|date:"l" }})
</h2>


<table border="1">

<tr>
    <th>Category</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Action</th>
    
</tr>


{% for expense in data.expenses %}

<tr>

<td>
    {{ expense.category }}
</td>

<td>
    {{ expense.description }}
</td>

<td>
    ₹{{ expense.amount }}
</td>
<td>
<div class="action">
    <button type="button" onclick="showMenu(this)">
         ⋮
    </button>
    <div class="menu">
        <a href="{% url 'edit_expense' expense.id %}">
            Edit
        </a>
        <form method="POST" action="{% url 'delete_expense' expense.id %}" >
            {% csrf_token %}
<button type="submit">
    Delete
</button>
        </form>
    </div>
</div>
</td>
</tr>

{% endfor %}



<tr>

<td colspan="3">

    <b>
    Daily Total :
    ₹{{ data.daily_total }}
    </b>

</td>

</tr>


</table>


<br><br>


{% endfor %}



<table border="1">

<tr>

<td>

<b>
Overall Total :
₹{{ total_spent }}
</b>

</td>

</tr>

</table>

<script>

function showMenu(button){

    let menu = button.nextElementSibling;

    if(menu.style.display === "block"){
        menu.style.display="none";
    }
    else{
        menu.style.display="block";
    }
}
    
    document.addEventListener("click",function(event){

        let menus=document.querySelectorAll(".menu")
        menus.forEach(function(menu){
            if(!menu.parentElement.contains(event.target)){
                menu.style.display="none";
            }
        });
});

</script>
</body>
</html>